body {
     width: 100%;
     margin: auto;
     background: salmon;
     font-family: sans-serif;
}
p {
     text-align: center;
     font-size: 12px;
     letter-spacing: 1px;
     font-weight: lighter;
     line-height: 1.5;
     color: white;
}
p a {
     color: white;
}
iframe {
     outline: none;
     background: aliceblue;
     border: none;
     box-shadow: 0px 4px 28px -6px rgba(0, 0, 0, 0.3);
     margin: 0 auto;
     display: block;
     border-radius: 12px;
}